{{> nav/nav-block}}

<div id="home">
    <div class="container theme-body">
        <div class="row">
            <div class="col col-md-12">
                <h3 class="theme-title-div mb-4">Nearby Buddies</h3>

                <ul id="example-list" class="list-group search">
                {{#each results}}
                    <li data-id="{{this.id}}" class="list-group-item search__user">
                        <div class="search__user--header">
                            <div class="search__user--header-icon">
                                {{#ifEquals this.pet "dog"}}
                                    <span class="fas fa-dog search__user--header-icon-span"></span>
                                {{else}}
                                    <span class="fas fa-cat search__user--header-icon-span"></span>
                                {{/ifEquals}}
                            </div>
                        
                            <h4 class="search__user--header-title">{{this.petName}}</h4>
                        </div>
                        <div class="search__user--content">
                            <ul class="description__list">
                                <li class="description__list-item"><strong>Pet Type: </strong>{{this.pet}}</li>
                                <li class="description__list-item"><strong>Pet Age: </strong>{{this.petAge}}</li>
                                <li class="description__list-item"><strong>Owner: </strong> <a href="profile/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></li>
                            </ul>
                        </div>
                        <div class="search__user--buttons">
                            <button class="btn btn-light btn-block rounded-0 message" data-recipient-id="{{this.id}}" data-toggle="modal" data-target="#message-modal">Message</button>
                            <button type="button" data-id="{{this.id}}" class="btn btn-light btn-block rounded-0 mapButton" data-zipCode={{userInfo.zipcode}}>View on map</button>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div id="userInfoForMap" data-address="{{userInfo.address}}" data-zipcode="{{userInfo.zipcode}}" data-city="{{userInfo.city}}" data-state="{{userInfo.state}}"></div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="map-view">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                 <div id="map" style="width: 90%; height: 400px; margin: 10px auto;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{> modal/message-block sender=userInfo.id sender-name=userInfo.firstName}}
