{{> nav/nav-block}}

<div id="home">
    <div class="container theme-body">
        <div class="row">
            <div class="col col-md-12">
                <h3 class="theme-title-div mb-4">Nearby Buddies</h3>
                <ul id="example-list" class="list-group">
            {{#each results}}
                <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}">{{this.firstName}}</a>
                <button class="btn btn-danger float-right message">Message</button>
                <button type="button" data-id="{{this.is}}" class="btn float-right map" data-toggle="modal" data-target="#map-view" data-zipCode={{userInfo.zipcode}}>View on map</button>
            </li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>
        {{!-- Paola --}}
    <br>
    <div class="container">    
        <h3 class="theme-title-div mb-4">Instant Messaging</h3>
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Connected matches
                    </div>
                    <ul class="list-group list-group-flush scrollChat">
                        {{#each results}}
                            <li data-id="{{this.id}}" class="list-group-item">
                                <a href="example/{{this.id}}">{{this.firstName}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-8 paddingLeft d-flex">
                <div class="card w-100">
                    <div class="card-header">
                        Chat Area
                    </div>
                    <div id= "chatArea" class= "card-body  scrollChat">
                        Messages
                        <div id="feedback"></div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group ">
                            <input id="message" type="text" class="form-control" placeholder="Type message" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button id="send_message" class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="chat.js"></script>
    </div>
    <br>
        {{!-- Paola --}}
 
